In [1]:
# predict that weather player will play a match based on weather and temp

In [4]:
import pandas as pd
import numpy as np

In [5]:
# creating features and labes 

weather=['Sunny','Sunny','Overcast','Rainy','Rainy','Rainy','Overcast','Sunny','Sunny',
'Rainy','Sunny','Overcast','Overcast','Rainy']
temp=['Hot','Hot','Hot','Mild','Cool','Cool','Cool','Mild','Cool','Mild','Mild','Mild','Hot','Mild']

play=['No','No','Yes','Yes','Yes','No','Yes','No','Yes','Yes','Yes','Yes','Yes','No']

In [6]:
df=pd.DataFrame(list(zip(weather,temp,play)),columns=['weather','temp','play'])

In [7]:
df.head()

    weather  temp play
0     Sunny   Hot   No
1     Sunny   Hot   No
2  Overcast   Hot  Yes
3     Rainy  Mild  Yes
4     Rainy  Cool  Yes

In [8]:
# perform label encoding
from sklearn.preprocessing import LabelEncoder

In [9]:
le=LabelEncoder()

In [17]:
df['weather']=le.fit_transform(df['weather'])   
df['temp']=le.fit_transform(df['temp'])
df['play']=le.fit_transform(df['play'])

In [18]:
df.head()

   weather  temp  play
0        2     1     0
1        2     1     0
2        0     1     1
3        1     2     1
4        1     0     1

In [31]:
x=df.drop('play',axis=1)

In [32]:
x.head()

   weather  temp
0        2     1
1        2     1
2        0     1
3        1     2
4        1     0

In [33]:
y=df['play']

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.3)

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [36]:
from sklearn.naive_bayes import GaussianNB

In [37]:
model=GaussianNB()

In [38]:
model.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [39]:
y_pred=model.predict(x_test)

In [41]:
y_pred

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0])

In [42]:
x_test['Actual']=y_test
x_test['Predicted']=y_pred

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [43]:
x_test

    weather  temp  Actual  Predicted
5         1     0       0          0
12        0     1       1          0
0         2     1       0          0
4         1     0       1          0
3         1     2       1          1
2         0     1       1          0
7         2     2       0          1
8         2     0       1          0
10        2     2       1          1
6         0     0       1          0

In [44]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [49]:
print('matrix \n',confusion_matrix(y_test,y_pred),'\n\n')
print('accuracy \n',accuracy_score(y_test,y_pred),'\n')
print('report \n',classification_report(y_test,y_pred),'\n')

matrix
 [[2 1]
 [5 2]]


accuracy
 0.4

report
               precision    recall  f1-score   support

           0       0.29      0.67      0.40         3
           1       0.67      0.29      0.40         7

   micro avg       0.40      0.40      0.40        10
   macro avg       0.48      0.48      0.40        10
weighted avg       0.55      0.40      0.40        10